/*手机导航颜色*/
@media screen and (max-width: 768px){
.top-menu ul li.depth-0>a {
    color: #333;
}
.login-button .b2-user {
    color: #bcbcbc;
    background-color: #171414;
}
.menu-icon {
    background: #33333385;
}
.menu-icon .line-1 {
   background-color: #bcbcbc;
}
.menu-icon .line-2 {
   background-color: #bcbcbc;
}
.menu-icon .line-3 {
   background-color: #bcbcbc;
}
}